.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow-y: auto;
}

.home_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}