.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: #631C21;
    border-bottom: solid 0.25rem #F0953B;
}

/* .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
} */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 3rem;
    width: auto;
}

.logo p,
li {
    font-size: 1rem;
    color: #e6e6e6;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}


.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttons img {
    height: 2rem;
    width: auto;
    cursor: pointer;
}

.header button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    cursor: pointer;

}

.btnSignIn {
    background-color: #F9F1F2;
    color: #424242;
}

.btnSignUp {
    background-color: rgb(231, 231, 231);
    color: #2e2e2e
}