.table {
    display: inline-block;
    border-collapse: separate;
    border-spacing: 0 1rem;
    color: #424242;
    width: 100%;
}

tr td:first-child {
    /* border-left: 1px solid #424242; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

tr td:last-child {
    /* border-right: 1px solid #424242; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

td {
    /* border-top: 0.25px solid #424242;
    border-bottom: 0.25px solid #424242; */
    font-size: 1rem;
    padding: 1rem 1rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.attachment p {
    margin: 0;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #6b6b6b;
    color: #e6e6e6;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.assign {
    /* display: flex;
    gap: 1rem; */
}

.assign p {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #9C3338;
    color: #e6e6e6;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.assign .buttons {
    padding: 0.5rem;
    background-color: #cacaca;
    color: #6b6b6b;
}